/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.content {
  margin: 15px 10% 0 10%;
  width: 80%;

  align-items: center;
  justify-content: center;
}
